<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Salvus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">

            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class="nav-link" })

        </li>
        <li class="nav-item">

          @Html.ActionLink("Portfolio", "Index", "Portfolio", new { area = "" }, new { @class="nav-link" })

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exchange</a>
          <div class="dropdown-menu">
            
            @Html.ActionLink("Bitcoin", "Index", "Purchase", new { area = "" }, new { @class="dropdown-item" })
            @Html.ActionLink("Ethereum", "Index", "Purchase", new { area = "" }, new { @class="dropdown-item" })
            @Html.ActionLink("Polkadot", "Index", "Purchase", new { area = "" }, new { @class="dropdown-item" })
            <div class="dropdown-divider"></div>
            @Html.ActionLink("Withdraw", "Index", "Purchase", new { area = "" }, new { @class="dropdown-item" })

          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>